@font-face {
  font-family: "Comic";
  src: local("Comic"), url(./fonts/COMIC.TTF) format("truetype");
}

body {
  margin: 0;
  font-family: "Comic";
  src: local("Comic"), url(./fonts/COMIC.TTF) format("truetype");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
